
<div class="container">
  <% @compliments.each do |compliment| %>
    <h1 class="quotes"> <%= compliment.description %> </h1>
  <% end %>

  <h1 class="quotes">He is ...</h1>
  <div class="quotes"> 
   
    <div class="image">
      <img src="/images/goldframe.jpg" class="frame">
      <img src="/images/goldchainz.jpg" class="blake">
    </div> 
     <h1 class="lastquote">The MOST AWESOME MAN in the WORLD</h1>    
  </div>
  <div class="button">
    <button id="replay">PLAY AGAIN</button>
  </div>

  <audio id="audio" src="/audio/dosequis.mp3">
    Your browser hates you.
  </audio>
 <!--  <iframe width="0" height="0" src="//www.youtube.com/embed/VIio9xEmUUE?autoplay=1&loop=1&playlist=VIio9xEmUUE" frameborder="0" allowfullscreen></iframe> -->
</div>


