<div class="container">
  <% @compliments.each do |compliment| %>
    <h1 class="quotes"> <%= compliment.description %> </h1>
  <% end %>

  <h1 class="quotes">He is ...</h1>
  <div class="quotes"> 
    <h1 class="lastquote">The awesomest man in the world</h1>  
    <div class="image">
      <img src="/images/goldframe.jpg" class="frame">
      <img src="/images/goldchainz.jpg" class="blake">
    </div> 
    
  </div>
</div>