<!DOCTYPE html>
<html>
  <head>
    <title>Blake is Awesome</title>

    <link href='http://fonts.googleapis.com/css?family=Nixie+One|Parisienne|Gilda+Display|Oleo+Script+Swash+Caps|Simonetta|PT+Mono|Josefin+Sans|Londrina+Outline|Alegreya+Sans|Open+Sans+Condensed:300|Open+Sans|Varela+Round|Amatic+SC|Text+Me+One' rel='stylesheet' type='text/css'>
     
     <link href="/css/normalize_styles.css" rel="stylesheet" type="text/css"/>
     <link href="/css/styles.css" rel="stylesheet" type="text/css"/>

  </head> 
  
  <body>
      
      <%= yield %>

  </body>

</html>