<h2> All Compliments </h2>

<a href="/compliments/new"><button> Create new </button></a>

<% @compliments.each do |compliment| %>
  <ul>
    <li> 
      <%= compliment.description %><br/>
      Written by: <%= compliment.author %><br/>
      <a href="/compliments/edit/<%=compliment.id%>"> Edit </a>
      <a href="/compliments/delete/<%=compliment.id%>">  Delete </a>
    </li>
  </ul>
<% end %>


