body {
	background-color: #000;
	color: #fff;
	font-family: 'Cardo', serif;
	font-size: 14px;
	line-height: 120%;
	/*position: absolute;*/
	/*top: 50%;*/
}

.quotes {
 display: none;
 line-height: 200%;
 font-weight: 100;
 letter-spacing: 3px;
 font-style: italic;
}


.lastquote {
 line-height: 200%;
 font-weight: 100;
 letter-spacing: 3px;	
}

.container {
	margin: 15% auto;
	width: 75%;
	text-align: center;
	font-size: 1.5em;
}

.image {
	position: relative;
	margin: 0 auto;
	margin-top: -125px;
	margin-bottom: 50px;
	width: 330px;
	height: 330px;	
}

img.frame {
	position: absolute;
	width: 100%;
	height: 110%;
	top: 0;
	left: 0;
}

img.blake {
	position: relative;
	top: 45px;
}

